<!DOCTYPE html>
<html lang="es">
  <%- include('partials/head', {title: 'home'}) %>
  <body>
    <div>
      <img src="../img/imgHome-Desktop-edit.png" class="dskHomeBackgroundImage">
    </div>
    <div class="homeTitle">
      IGNACIO AMADEO ÁLVAREZ
    </div>
    <div class="homeSubtitle">
      <ul>
        <li>Strategy</li>
        <li>Innovation</li>
        <li>Teamwork</li>
      </ul>
    </div>
  </body>
</html>